.comment__image{
    width: 97px;
    height: 97px;
    border-radius: 50px;
    margin-bottom: 22px;

}

@media (max-width: 768px){
    .comment__image{
    display: flex;
    align-self: center;
    order: 1;
}}