@import url(__title/cover__title.css);
@import url(__subtitle/cover__subtitle.css);

.cover{
    margin: 0 auto 155px;
    width: 82%;
    min-height: 594px;
    background-image: url(../../../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    box-shadow: 0 0 0 300px rgba(0, 0, 0, 0.2) inset;

}
.cover:hover{
    box-shadow: 0 0 0 300px rgba(0, 0, 0, 0.8) inset;
}

@media (max-width: 1280px){
    .cover{
    width: 92%;
 }}
 @media (max-width: 1024px){
    .cover{
    width: 100%;
    min-height: 562px; 
}}
@media (max-width: 768px){
    .cover{
    min-height: 500px; 
}}
@media (max-width: 375px){
    .cover{
    min-height: 272px; 
    margin-bottom: 60px;
    
   
}}
@media (max-width: 320px){
    .cover{
    min-height: 216px; 
}}