@import url(__url/place__url.css);
@import url(__url-heading/place__url-heading.css);

.place__website{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

@media (max-width: 375px){
    .place__website{
    display: none;
 }
 }
 @media (max-width: 320px){
    .place__website{
    display: none;
 }
 }