@import url(__paragraph-one/place__paragraph-one.css);
@import url(__paragraph-two/place__paragraph-two.css);

.place__paragraph{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}